.header {
    color: hsl(240, 100%, 50%);
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 3px black;
    font-family: 'Lato', sans-serif;
}

.section__list {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
}

.sectionNavi {
    border-radius: 20px;
    padding: 0.1px 10px 0.1px 10px;
    background-color: hwb(160 0% 3%);
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}

.aboutMeColor {
    border-radius: 20px;
    background-color: hwb(229 69% 0%);
    padding: 0.1px 10px 0.1px 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 1000px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    line-height: 1.7em;
    text-shadow: 1px 3px 12px rgba(66, 68, 90, 1);
}

.sectionHTML {
    border-radius: 20px;
    background-color: aliceblue;
    padding: 0.1px 10px 0.1px 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 1000px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    line-height: 1.5em;
    text-shadow: 1px 3px 12px rgba(66, 68, 90, 1);
}

.sectionCSS {
    border-radius: 20px;
    background-color: aqua;
    padding: 0.1px 10px 0.1px 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 1000px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    line-height: 1.5em;
    text-shadow: 1px 3px 12px rgba(66, 68, 90, 1);
}

.sectionJS {
    border-radius: 20px;
    background-color: aquamarine;
    padding: 0.1px 10px 0.1px 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 1000px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    line-height: 1.5em;
    text-shadow: 1px 3px 12px rgba(66, 68, 90, 1);
}

.footer {
    border-radius: 20px;
    background-color: rgba(16, 251, 0, 1);
    background-image: linear-gradient(133deg, rgba(16, 251, 0, 1) 0%, rgba(245, 255, 0, 1) 100%);
    border: 2px dotted black;
    padding-bottom: 11px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    outline: 2px solid rgb(208, 255, 0);
    outline-offset: 2px;
    max-width: 985px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
}